span.code, span.file {display:inline-block;width: 120px;}
span.code {background: transparent url(images/code.png) left center no-repeat;}
span.file {background: transparent url(images/file.png) left center no-repeat;}
table.fc_table thead tr.fc_gradient1 th,table.fc_table tbody tr td{padding:2px 5px;}
.filter_form_container {border: 1px solid #9DA8B2;width:800px;margin:5px;padding:5px;}
div.filter_form_container form input, div.filter_form_container form textarea, div.filter_form_container form select{width:300px;margin:5px;}
input.missing,textarea.missing{border-color:#f00;}