<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Maximum Invalid Login Attemps Exceeded</title>
<meta http-equiv="content-type" content="text/html; charset={CHARSET}" />
<meta http-equiv="content-language" content="{LANGUAGE}" />
<meta name="description" content="Retrieve Login Details" />
<meta name="keywords" content="Retrieve Login Details" />

<link href="../css/default/basic.css" rel="stylesheet" type="text/css" />
<link href="../css/default/login.css" rel="stylesheet" type="text/css" />

</head>

<body class="fc_gradient3">
	<div id="fc_warning_message" class="fc_br_all fc_shadow_big">
		<div id="fc_login_header" class="fc_br_top fc_gradient4">
			<p>Excessive Invalid Logins</p>
		</div>
		<div id="fc_login_form" class="fc_gradient1 fc_br_bottom fc_border">
			<p class="highlight icon-warning"> Sorry, but you have attempted to login too many times.</p>
			<p>Try to delete the cookies of your browser and reset your password or contact your personal administrator!</p>
		</div>
	</div>
	
	<div class="fc_gradient4 fc_license">
		<p class="right"><a href="http://blackcat-cms.org" title="Black Cat CMS" target="_blank">Black Cat CMS Core</a> is released under the
			<a href="http://www.gnu.org/licenses/gpl.html" title="Black Cat CMS Core is GPL" target="_blank">GNU General Public License</a>.<br/>
			<a href="http://blackcat-cms.org" title="Black Cat CMS Bundle" target="_blank">Black Cat CMS Bundle</a> is released under several different licenses.
		</p>
	</div>
</body>
</html>