#dropleps table.dropleps {background-color:white;width:100%;}
#dropleps table.dropleps thead {font-weight:bold;background-color:#c7d1db !important;height:25px;}
#dropleps table.dropleps th {background-color: #e6EEEE;border: 1px solid #FFF;font-size: 8pt;padding: 4px;text-align:left;}
#dropleps a.tooltip span.comment {display:none; margin-left:14px; width:430px;}
#dropleps a.tooltip:hover span.comment{display:inline; position:absolute; padding:5px; border:1px solid #000000; background:#ffffff; color:#000000;}
#dropleps span.usage {font-weight:bold;}
#dropleps fieldset{border:1px solid #888888;padding:10px;}
#dropleps legend{font-weight:bold;font-size:1.3em;padding:0 20px;border-left:1px solid #888888;border-right:1px solid #888888;margin:15px 0;}
#dropleps label, #dropleps span.label {width:200px;display:inline-block;float:left;text-align:right;margin-right:5px;font-weight:bold;}
#dropleps input[type=text], #dropleps textarea {width:600px;}
#dropleps input[type=submit] {width:200px;}
#dropleps div.problem {border:2px solid #f00;padding:15px;background-color:#FFCCCC;font-size:1.2em;font-weight:bold;text-align:center;color:#f00;}
#dropleps div.info {border:2px solid #006600;margin:15px auto;padding:15px;background-color:#CCFFCC;font-size:1.2em;font-weight:bold;text-align:center;color:#060;}