<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<title>Maximum Invalid Login Attemps Exceeded</title>
<style type="text/css"><!--
body {
	margin: 0px;
  background: #BBBBBB;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;  
}

h1 {
color:#000000;
font-size:18px;
margin-top:0;
text-align:center;
text-transform:uppercase;
}

div#message {
background:none repeat scroll 0 0 red;
border:1px solid #000000;
left:50%;
margin-left:-225px;
margin-top:100px;
padding:20px;
position:absolute;
text-align:center;
width:450px;
}
--></style></head>
<body>

<div id='message'>
	<h1>Excessive Invalid Logins</h1>
	You have attempted to login too many times
</div>

</body>
</html>