/* forms.css */

.submit_settings {
	margin-bottom:	0em;
	margin-left:	200px;
	padding:		0em 1em;
	height:			30px;
	border-top:		1px solid white;
	border-bottom:	1px solid #9da8b2;
	text-align:		right;
	line-height:	30px;
}
	.submit_settings strong {
		display:	inline-block;
		float:		left;
		height:		30px;
	}

.fc_list_forms > * {
	margin-right:	1em;
	margin-left:	1em;
}
.fc_list_forms > .submit_settings,
#fc_preferences_form .submit_settings,
.fc_list_forms > .fc_groups_tabs {
	margin-right:	0em;
	margin-left:	0em;
}
.fc_label_120,.fc_label_200,.fc_label_300 {
	display:		inline-block;
	min-width:		120px;
}
.fc_label_200 {
	min-width:		200px;
}
.fc_label_300 {
	min-width:		300px;
}