input,select{font-family:HelveticaNeue,Helvetica,Arial,Verdana,sans-serif;min-height:1.8em;padding:0 .3em;color:#23272a;border:1px solid #9da8b2;font-size:1em;line-height:1.8em}textarea{font-family:HelveticaNeue,Helvetica,Arial,Verdana,sans-serif;font-size:1em;color:#1d2023;border:1px solid #9da8b2;padding:.3em}textarea.fc_input_300,input[type=text].fc_input_300,input[type=password].fc_input_300,select.fc_input_300{width:300px}textarea.fc_input_large{width:900px;height:400px}input[type=file]{margin-bottom:5px;margin-top:5px;height:1.6em;line-height:1.6em}input.fc_input_normal{min-width:7em}input.fc_input_large{min-width:20em}input.fc_input_small{width:50px}.submit_settings{margin-bottom:0;margin-left:260px;padding:0 1em;height:30px;border-top:1px solid white;border-bottom:1px solid #9da8b2;text-align:right;line-height:30px}.submit_settings strong{display:inline-block;float:left;height:30px}.fc_list_forms>*,#fc_set_form_content{margin-right:1em;margin-left:1em}.fc_list_forms>.submit_settings,#fc_preferences_form .submit_settings,.fc_list_forms>.fc_groups_tabs{margin-right:0;margin-left:0}.fc_label_120,.fc_label_200,.fc_label_300,.fc_label_250{display:inline-block;min-width:120px;float:left}.fc_label_200{min-width:200px}.fc_label_250{min-width:250px}.fc_label_300{min-width:300px}div#fc_set_form_content.fc_gradient1 p{font-size:.9em;font-style:italic}.fc_modifyUser input{margin-left:2em}.fc_form_infotext{font-size:.8em;font-style:italic}div.fc_all_forms h3{margin-left:.8em !important;margin-bottom:1em}span.fc_label_300{-webkit-border-radius:4px;-moz-border-radius:4px;-khtml-border-radius:4px;border-radius:4px;border:1px solid #9da8b2;background:none repeat scroll 0 0 #d8dbdd;width:100%;padding:5px}.edit_module_file{display:inline-block;width:260px;margin-bottom:15px}button.edit_module_file{width:250px}


/* wbforms */
legend{display:block;width:100%;margin-bottom:15px;border:none !important;border-top:1px solid #fff !important;background: transparent url() !important;-webkit-border-radius: 0 !important;-moz-border-radius: 0 !important;-khtml-border-radius: 0;border-radius: 0 !important;}
legend:first-of-type{border-top:none !important;margin-top:15px;}

div.onoff{width:45px;height:15px;border:1px solid #ccc;border-radius:500px;}
div.onoff.on::before{content:"";display:block;width:12px;height:12px;border-radius:50%;border:1px solid #060;background-color:#060;}
div.onoff.off::before{content:"";display:block;width:12px;height:12px;border-radius:50%;border:1px solid #600;position:absolute;right:0;}

/*
div.onoff::before{content:"";width:15px;height:15px;border:1px solid #ccc;border-radius:50%;}
div.onoff.on{background-color:#00cc00;}
div.onoff.off{background-color:#c00;}
*/


.switch {
  width: 20px;
  height: 20px;
  margin:auto 20px;
  display:inline-block;
  border-radius: 50%;
  background: #b25244;
  background: linear-gradient(#b25244, #5e1912);
  position: relative;
  cursor: pointer;
  padding: 5px;
}

.switch:after {
  content: "";
  position: absolute;
  left: -2px;
  right: -2px;
  top: -2px;
  bottom: -2px;
  z-index: -2;
  border-radius: inherit;
  box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.1),
    0 1px 2px rgba(0,0,0,0.3),
    0 0 10px rgba(0,0,0,0.15);

}

.switch:before {
 	content: "";
  position: absolute;
  left: -5px;
  right: -5px;
  top: -5px;
  bottom: -5px;
  z-index: -1;
  border-radius: inherit;
  box-shadow: inset 0 10px 10px rgba(0,0,0,0.13);
  -webkit-filter:blur(1px);
  filter: blur(1px);
}

.switch.on{background: #004000;filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#004000', endColorstr='#006600');background: -webkit-gradient(linear, left top, left bottom, from(#004000), to(#006600));background: -moz-linear-gradient(top,  #004000, #006600);}


