@import url(search.box.css);
#search_results{font-size:9pt;margin:20px 0 30px;padding:0;font-family:Gill, Helvetica, sans-serif;}
#search_results h2{font-size:14pt;}
.search_form{margin:0 0 25px;padding:0;}
.search_item{margin:0;padding:0 0 20px;font-size:11pt;clear:both;}
.search_item_header{font-size:13pt;font-weight:700;padding:3px;background:#ccc;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccc',endColorstr='#efefef');background:-webkit-gradient(linear,left top,left bottom,from(#ccc),to(#efefef));background:-moz-linear-gradient(top,#ccc,#efefef);}
.search_item_info{font-size:9pt;float:right;text-align:right;font-weight:normal;}
.search_item_description{font-size:8pt;font-style:italic;padding:0 0 10px;margin:0;}
.search_item_excerpt{font-size:9pt;}
.search_image_thumbs{margin:10px 0 0;padding:0;clear:both;font-size:9pt;}
.search_image_thumbs_title{font-size:9pt;font-weight:700;font-style:italic;padding:0 0 10px;}
.content_image,.search_image_thumbs_image{width:100px;height:auto;padding:0;margin:0 20px 10px 0;float:left;}
.search_image_thumbs_loop{clear:both;margin:0 0 15px;}