.search_box_input_active,.search_box_input{width:150px;background:#fff url(../../images/search.gif) 3px center no-repeat;padding-left:20px;color:#b3b3b3;}
/* change the color at input */
.search_box_input_active{color:#000;}